<MudCard Class="pa-1">
    <MudCardContent>
        <MudGrid>
            <MudItem xs="8">

                <MudSimpleTable  Dense="true" Bordered="false" Striped="false" style="border:none">
                    <tbody>
                         <tr>
                            <td> <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-1">$730,000</MudText> </td>
                        </tr>
                        <tr>
                            <td><MudText Typo="Typo.caption" Class="mb-0">5 FORSYTH'S ROAD</MudText></td>
                        </tr>
                        <tr>
                            <td><MudText Typo="Typo.caption" Class="mb-1">Carling, Ontario P0G1G0</MudText></td>
                        </tr>
                        <tr>
                            <MudText Typo="Typo.caption" Class="mb-1" Color="Color.Secondary">MLS® Number: X12261884</MudText>
                        </tr>  
                    </tbody>
                </MudSimpleTable>
                <br />

            </MudItem>
            <MudItem xs="4">
                <MudGrid Spacing="4" Justify="Justify.Center">
                    <MudItem>
                        <MudStack Direction="Row" AlignItems="AlignItems.Start" Spacing="1">
                            <MudIcon Icon="@Icons.Material.Filled.Bed" />
                            <MudText Typo="Typo.caption">3 + 1</MudText>
                            <MudText Typo="Typo.caption">Bed</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem>
                        <MudStack Direction="Row" AlignItems="AlignItems.Start" Spacing="1">
                            <MudIcon Icon="@Icons.Material.Filled.Bathtub" />
                            <MudText Typo="Typo.caption">1</MudText>
                            <MudText Typo="Typo.caption">Bath</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem>
                        <MudStack Direction="Row" AlignItems="AlignItems.Start" Spacing="1">
                            <MudIcon Icon="@Icons.Material.Filled.SpaceDashboard" />
                            <MudText Typo="Typo.caption">1100 - 1500</MudText>
                            <MudText Typo="Typo.caption">Sq Ft</MudText>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>

    </MudCardContent>
</MudCard>
